<!DOCTYPE html>
{% load static %} <!-- New line -->
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Welcome</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
    <body>
<div id="container">
	<div id="header" title="sitename">
		<h1>
			Devon Dominique Rusconi
		</h1>
		
		
	</div>
	<div id="menu">
		<h3>
			Discover:
		</h3>
		<ul>
			<li><a href="/home/">About</a></li>
			<li><a href="/journal/">My Blog</a></li>
			<li><a href="/tutorials/">Tutorials</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="/ComputerScience/">Computer Science</a></li>
			<li><a href="/MentalHealthProject/">My Mental Health Movement</a></li>
			<li><a href="/Stories/">Stories</a></li>
			</ul>
			<h3>
			Contact Me:
			</h3>
			<ul>
			Twitter: <li><a href="https://twitter.com/DevonRusconi">@DevonRusconi</a></li>
			FaceBook: <li><a href="https://www.facebook.com/BeingScripted">WritingJourney</a></li>
			Linkedin: <li><a href="https://www.linkedin.com/in/devonrusconi">Linkedin</a></li>
			GitHub: <li><a href="https://github.com/DRusconi-CSUMB">GitHub</a></li>
			YouTube: <li><a href="https://www.youtube.com/user/RusconiRecordings/">YouTube</a></li>
			Professional Email: <li><a href="https://mail.google.com/">drusconi@csumb.edu</a></li>
			
		</ul>
		
		
 	</div>
	
	<div id="contents">
		<div class="blogentry">
			<h1>
				Computer Science
			</h1>
			<p>
				This page is dedicated to new technologies and what has been going on in the world of tech.
				
			</p>
			
			<img src="{% static "Devon.jpg" %}" alt="Picture" />
		</div>
	</div>
	
	<div id="footer">
		Copyright © Rusconi 2014
	</div>
</div>

</body>
<style>
body
{
	margin: 0;
	padding: 0;
	background: burlywood;
}
#container
{
	margin: 1em auto;
	width: 1200px;
	background: white;
}

#header 
{ 
	background: pink; 
	width: 200;

}

#menu
{
	float: right;
	width: 215px;
	background: pink;
}


#picture
{
	float: bottom right;
	width: 0;
	background: white;
}

#contents
{
	float: center;
	width: 1100px;
	background: white;
	margin: 0 0 0 20px;
}

#footer
{
	clear: both;
	background: burlywood;
}
</style>
</html>
