<!DOCTYPE html>
{% load static %} <!-- New line -->
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Blog</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
    <body>
<div id="container">
	<div id="header" title="sitename">
		<h1>
			Devon Dominique Rusconi
		</h1>


	</div>
	<div id="menu">
		<h3>
			Discover:
		</h3>
		<ul>
			<li><a href="/home/">About</a></li>
			<li><a href="/journal/">My Blog</a></li>
			<li><a href="/tutorials/">Tutorials</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="/ComputerScience/">Computer Science</a></li>
			<li><a href="/MentalHealthProject/">My Mental Health Movement</a></li>
			<li><a href="/Stories/">Stories</a></li>
			</ul>
			<h3>
			Contact Me:
			</h3>
			<ul>
			Twitter: <li><a href="https://twitter.com/DevonRusconi">@DevonRusconi</a></li>
			FaceBook: <li><a href="https://www.facebook.com/BeingScripted">WritingJourney</a></li>
			Linkedin: <li><a href="https://www.linkedin.com/in/devonrusconi">Linkedin</a></li>
			GitHub: <li><a href="https://github.com/DRusconi-CSUMB">GitHub</a></li>
			YouTube: <li><a href="https://www.youtube.com/user/RusconiRecordings/">YouTube</a></li>
			Professional Email: <li><a href="https://mail.google.com/">drusconi@csumb.edu</a></li>

		</ul>

 	</div>

	<div id="contents">
		<div class="blogentry">
			<h1>
				What's Been Going On?
			</h1>
			
			<h2>
				Something About Me
			</h2>
			<p>
				Hello! Welcome to my blog. Here I will be documenting the achievements, opportunities, events, and interesting subjects. 
				So a little bit about me...
				
				I have been selected in a highly selective three year computer science bachelors program called the CSIT-in-3.
			</p>

			<h2>
				My First Django App
			</h2>
			<p>
				This website has been created all in Python with a framework called Django. I worked twelve straight hours on it and was so excited when I finally saw the first web page
				show up on my browser. Using the command prompt to access the files and running the server I found it easy to follow the Django tutorial to create
				this website.

				I used PythonAnywhere to deploy the site. It is easy to use and free to use as well. I had some help from a classmate of mine, Daniel, (who also has
				his own website here). Getting it on the server was difficult and we had to keep track of the bugs that we ran into in order not to make the same errors.
				After figuring out how to fix the problems, it was so relieving to click on the link and see the website for everyone to visit.
			</p>
			<h2>
    			The Grace Hopper Conference 2014
			</h2>
			<p>
				During the month of October on the 7th - 10th, all the women in the CSIT-in-3 program got to go to the Grace Hopper Conference in Phoenix, Arizona. That week
				was one of the most inspiring weeks of my professional career. Being a student at Hartnell College, the students enrolled in CSIT-in-3 are 50% female.
				We didn't realize the problem with diversity in the computer science field. Going to this conference, I felt empowered. 
				Women were inspiring others with their stories and achievements in technology. The stories they spoke at the conference were amazing and they wanted to have
				every woman in the room and every woman attending the conference to not let any obstacle stop them from their goals. 
			</p>
			
			<p>
				I attended many workshops that taught about networking, computing on the cloud, wearable technology, and so much more. One workshop that stood out for me
				was the Student Opportunities Lab which had over 60 tables in one room with different subjects like "preparing for technical interviews", or "polishing your
				linkedin profile", or "which internship should I choose?". I learned a lot in these workshops and brought back many handouts and informational papers.
		
			</p>

			<h2>
				Internship Opportunities
			</h2>
			<p>
				In the CSIT-in-3 program, the summer coming up is going to be different than the last. Instead of taking classes, we will now be interning at
				companies looking for dedicated and talented computer scientists. 
				
				Here are some links to internships that I was provided with. I am searching through to find the company that I can most likely connect with 
				and that I can do my best at.
				
				<h3>
				Search for a summer Internship:
				</h3>
				
				
				
			</p>
			<h2>
				Tutorial Videos
			</h2>
			<p>
				I started my own YouTube channel last summer with a group of my friends. It was just something fun we can all do before we head back to our universities.
				The videos were mostly for fun and they received a lot of views. The more views a video got, the more I realized that we weren't the only ones being
				entertained.
				
				Going back to school I soon realized that I shouldn't stop my YouTube channel, I was going to keep doing it, but for different reasons. They aren't going
				to be fun silly videos with my friends, but merely videos that can help me study and help me remember certain steps when programming. I created my first 
				Tutorial video that is now almost at 500 views. I then did a second video which is almost at 200 views. These videos can be found on the tutorial tab of this
				website and also on my YouTube channel linked above.
				
				I am happy people are learning from me as I learned from others. It is easy to study, but to take that information and communicate it to others can be a bit more 
				difficult. 
			</p>
			
		</div>
	</div>

	<div id="footer">
		Copyright © Rusconi 2014
	</div>
</div>

</body>
<style>
body
{
	margin: 0;
	padding: 0;
	background: burlywood;
}
#container
{
	margin: 1em auto;
	width: 1200px;
	background: white;
}

#header
{
	background: pink;
	width: 200;

}

#menu
{
	float: right;
	width: 215px;
	background: pink;
}


#picture
{
	float: bottom right;
	width: 0;
	background: white;
}

#contents
{
	float: center;
	width: 1100px;
	background: white;
	margin: 0 0 0 20px;
}

#footer
{
	clear: both;
	background: burlywood;
}
</style>
</html>
