<!DOCTYPE html>
{% load static %} <!-- New line -->
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Blog</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
    <body>
<div id="container">
	<div id="header" title="sitename">
		<h1>
			Devon Dominique Rusconi
		</h1>
		
		
	</div>
	<div id="menu">
		<h3>
			Discover:
		</h3>
		<ul>
			<li><a href="/home/">About</a></li>
			<li><a href="/journal/">My Blog</a></li>
			<li><a href="/tutorials/">Tutorials</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="/ComputerScience/">Computer Science</a></li>
			<li><a href="/MentalHealthProject/">My Mental Health Movement</a></li>
			<li><a href="/Stories/">Stories</a></li>
			</ul>
			<h3>
			Contact Me:
			</h3>
			<ul>
			Twitter: <li><a href="https://twitter.com/DevonRusconi">@DevonRusconi</a></li>
			FaceBook: <li><a href="https://www.facebook.com/BeingScripted">WritingJourney</a></li>
			Linkedin: <li><a href="https://www.linkedin.com/in/devonrusconi">Linkedin</a></li>
			GitHub: <li><a href="https://github.com/DRusconi-CSUMB">GitHub</a></li>
			YouTube: <li><a href="https://www.youtube.com/user/RusconiRecordings/">YouTube</a></li>
			Professional Email: <li><a href="https://mail.google.com/">drusconi@csumb.edu</a></li>
			
		</ul>
		
		
 	</div>
	
	<div id="contents">
		<div class="blogentry">
			<h1>
				The Mental Health Movement
			</h1>
			
			<h2>
				Preventing Mental Illness
			</h2>
			<p>
				I am a real activist for Mental Health Awareness and am using my website as not only promoting my computer science career, but the promotion of finding a solution to slow down the
				symptoms of mental illness. Using technology and social media, I first went to YouTube to share my thoughts on the idea and help persuade others to understand that they are worth
				more than they think. People deserve better than the way they and others threat them.
			</p>
			<h3>
			My First Video: Taking The Mental Test
			</h3>
			<iframe width="640" height="360" src="//www.youtube.com/embed/pC0c7Ob1iUg?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
			<p>
			This video was made in my dorm room as I told one of my school councillors that our group leaders should also how to help their team members who are suffering
			from these disorders, she agreed and had every leader take the test. I decided to film myself taking this test in order to show others that it's okay to 
			tell others how you are feeling.
				
			<h3>
			Why am I Qualified?
			</h3>	
			When college got in the way of developing more of these videos, I thought of the idea about making software to help make up for the time lost. What if there was an
			app or other software that is user friendly and can call down the nerves of others? There are so many ideas to start off with. More information about that project will
			be posted on this page as time goes on.
			I am not a certified psychologist or a professional therapist, but I know a lot about these illnesses. My family has a long history of them and growing up, me and my sister had
			a hard time facing reality as we say are parents battling with depression, abuse, and anxiety. One of our daily challenges was to get up and go to school. We would be so nervous.
			I got so nervous to the point where I didn't attend school for a week. 
			
			I got my sister involved with this movement and we decided to share our experience and advice to others who face anxiety during class times.
			
			</p>
			
			<h3>
			How to Beat Classroom Anxiety
			</h3>
			<iframe width="640" height="360" src="//www.youtube.com/embed/NYsZrByowp0?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
			<p>
			What I also suffered from a body image disorder where I could not leave without wearing make-up or doing my hair or wearing the cutest outfit.
			I thought I was ugly. I thought that if I was to help others with feeling more positive, I thought I should start by feeling positive about myself.
			
			</p>
			<h3>
			Being Beautiful Everyday Without a Cost
			</h3>
			<iframe width="640" height="360" src="//www.youtube.com/embed/TFjVc0nP6fU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
			<p>
			
			
			It's time that this movement starts, and starts soon. This page will be updated with the latest details of the project and sooner or later, self confidence
			and self love will be gained in most of us and anxiety and depression will never be thought of again.
			</p>
			
			
		</div>
	</div>
	
	<div id="footer">
		Copyright © Rusconi 2014
	</div>
</div>

</body>
<style>
body
{
	margin: 0;
	padding: 0;
	background: burlywood;
}
#container
{
	margin: 1em auto;
	width: 1200px;
	background: white;
}

#header 
{ 
	background: pink; 
	width: 200;

}

#menu
{
	float: right;
	width: 215px;
	background: pink;
}


#picture
{
	float: bottom right;
	width: 0;
	background: white;
}

#contents
{
	float: center;
	width: 1100px;
	background: white;
	margin: 0 0 0 20px;
}

#footer
{
	clear: both;
	background: burlywood;
}
</style>
</html>
